<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:www.thymeleaf.org">

<head>
	<title>ACAD - Pergunta</title>
	<th:block th:insert="~{fragments/imports :: head/link}">
</head>

<body>
	<nav th:replace="~{fragments/menu :: menu-lateral}"
		class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
	</nav>

	<!-- Main content -->
	<div class="main-content" id="panel">
		<nav th:replace="~{fragments/menu :: menu-topo}"
			class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white"
			id="sidenav-main"></nav>
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<h6 class="h2 text-white d-inline-block mb-0">Pergunta</h6>
							<nav aria-label="breadcrumb"
								class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item"><a th:href="@{~/dashboard}"><i
											class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item"><a th:href="@{~/pergunta}">Lista</a></li>
									<li class="breadcrumb-item active" aria-current="page">Cadastro</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	

	<div class="container-fluid mt--6">
		<div class="row">
			<div class="col">
				<div class="card">
					<!-- Card header -->
					<div class="card-header border-0 d-flex justify-content-between align-items-center">
						<h2 class="mb-0">Cadastar Pergunta</h2>
						<a type="button" class="btn btn-default" th:href="@{/pergunta/cadastrar}">Novo Pergunta</a>
					</div>
					

					<div class="card-body">
						<form class="form-horizontal" th:object="${pergunta}" th:action="@{/pergunta/salvar}"
						method="POST">
							<div class="form-group">
									<div class="form-group d-none">
										<label>ID</label>
										<input required type="text" class="form-control input-sm" th:field="*{id}"
										autofocus="autofocus" placeholder="Informe o modelo" maxlength="255"/>
									</div>
									<div class="form-group">
										<label>PROVA</label> 
										<div th:if="${selecionado == null}">
											<select class="form-control" th:field="*{prova}">
												<option 
												th:each="prova : ${provas}" 
												th:value="${prova.id}" 
												th:text="${prova.nome}"
												th:selected="${selecionado != null && selecionado.id == prova.id}">
												</option>
											</select>
										</div>
									 </div>
									<div class="form-group">
										<label>PERGUNTA</label>
										<input required type="text" class="form-control input-sm" th:field="*{descricao}"
										autofocus="autofocus" placeholder="Informe o modelo" maxlength="255"/>
									</div>
							</div>
							<div align="center">	
								<!--  <a th:href="@{/pergunta}" class="btn btn-sm">CANCELAR</a> -->
								<button type="submit" onClick="history.go(-1)" class="btn btn-sm">CANCELAR</button>
								<button type="submit" class="btn btn-sm btn-success">SALVAR</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

	</div>


	<th:block th:insert="~{fragments/imports :: body/script}">
</body>

</html>