<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org">

<head>
<title>ACAD - Avaliações</title>
<th:block th:insert="~{fragments/imports :: head/link}">
</head>

<body>
	<nav th:replace="~{fragments/menu :: menu-lateral}"
		class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white"
		id="sidenav-main"></nav>

	<!-- Main content -->
	<div class="main-content" id="panel">
		<nav th:replace="~{fragments/menu :: menu-topo}"
			class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white"
			id="sidenav-main"></nav>
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<h6 class="h2 text-white d-inline-block mb-0">Avaliação</h6>
							<nav aria-label="breadcrumb"
								class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item"><a th:href="@{~/dashboard}"><i
											class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item"><a th:href="@{~/avaliacoes}">Lista</a></li>
									<li class="breadcrumb-item active" aria-current="page">Cadastro</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col">
					<div class="card">
						<!-- Card header -->
						<div
							class="card-header border-0 d-flex justify-content-between align-items-center">
							<h2 class="mb-0">Cadastar Avaliacao</h2>
							<a type="button" class="btn btn-default"
								th:href="@{~/avaliacoes/cadastrar}">Nova Avaliação</a>
						</div>


						<div class="card-body">
							<form class="form-horizontal" th:object="${avaliacao}"
								th:action="@{~/avaliacoes/salvar}" method="POST">
								<div class="form-group row">
									
										<div class="form-group col-4">
											<label for="prova">Aluno</label> 
											<select  autofocus="autofocus" class="form-control" th:field="*{alunoProva.aluno}">
												<option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
											</select>
										</div>
									
									
										<div class="form-group col-4">
											<label for="prova">Prova</label> 
											<select autofocus="autofocus" class="form-control" th:field="*{alunoProva.prova}">
												<option th:each="prova : ${provas}" th:value="${prova.id}" th:text="${prova.nome}"></option>
											</select>
										</div>
									
										<div class="form-group col-4">
											<label for="Conceito">Conceito</label>
											<input type="number" class="form-control" th:field="*{conceito}"
												autofocus="autofocus" max="100"/>
										</div>
									
									
								</div>
								<div align="center">
									<a th:href="@{~/avaliacoes}" class="btn btn-sm">CANCELAR</a>
									<button type="submit" class="btn btn-sm btn-success">SALVAR</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>


	<th:block th:insert="~{fragments/imports :: body/script}">
</body>

</html>