<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Atividade</title>
  </head>
  <body>

	<div class="container">
		<div class="panel-default">
			<div class="text-center">
				<h1 class="h4 text-gray-900 mb-4 my-2">Listagem de Atividade</h1>
			</div>
			
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>TOPICO</th>
								<th>DESCRIÇÃO</th>
								<th>ALUNO</th>
								<th>STATUS</th>
								<th>DATA DE CRIAÇÃO</th>
								<th>AÇÕES</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="atividade : ${atividades}">
								<td th:text="${atividade.topico}"></td>
								<td th:text="${atividade.descricao}"></td>
								<td th:text="${atividade.aluno.nome}"></td>
								<td th:text="${atividade.status}"></td>
								<td th:text="${atividade.dataCriacao}"></td>
								<td>
									<div class="btn-group float-right">
										<button type="button" class="btn btn-sm btn-warning text-light mx-1" data-toggle="modal" data-target="#exampleModalCenter">RESPOSTA</button>	
										<a th:href="@{/atividade/alterar/{idAtividade}(idAtividade=${atividade.id})}" class="btn btn-sm btn-primary text-light mx-1" >ALTERAR</a>
										<a th:href="@{/atividade/excluir/{idAtividade}(idAtividade=${atividade.id})}" class="delete btn btn-sm btn-danger text-light mx-1">EXCLUIR</a>
									</div>
								</td>

								<!-- Modal -->
									<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLongTitle" th:text="${atividade.descricao}"></h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											</div>
											<div class="modal-body">
												<ul th:each="resposta : ${atividade.respostas}">
													<li th:text="${resposta.descricao}"></li>
												</ul>
											</div>
											<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>
										</div>
										</div>
									</div> 

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<a class="btn btn-sm btn-success text-light" th:href="@{/atividade/cadastrar}">CADASTRAR NOVO DOCUMENTO</a>
	</div>

	




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>